[submodule "externals/raylib"]
	path = externals/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "externals/raylib-cpp"]
	path = externals/raylib-cpp
	url = https://github.com/RobLoach/raylib-cpp.git
[submodule "externals/boost"]
	path = externals/boost
	url = https://github.com/boostorg/boost.git
[submodule "externals/magic_enum"]
	path = externals/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "externals/nativefiledialog-extended"]
	path = externals/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
